.App {
  text-align: center;
  font-family: 'Markazi Text', serif;
  font-weight: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  position:fixed;
  top: 0%;
  z-index: 9999;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: white;
}

nav ul {
  width: 60%;
  margin-right: 21%;
}

nav ul li {
  display: inline-block;
  padding-left: 1.5em;
  font-size: 18pt;
}

nav img {
  margin-left: 19%;
}

a {
  text-decoration: none;
  color: #333333;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #495e57;
}

header section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  color: #EDEFEE;
}


h3 {
  font-size: 40pt;
  font-weight: normal;
  margin: 0%;
}

header p {
  font-size: 18pt;
  font-weight: normal;
  width: 80%;
}

header video {
  height: 400px;
  width: 520px;
  border-radius: 16pt;
  position: relative;
  top:110px;
}

.main-top {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  width: 60%;
  margin: 0 auto;
}

main h1 {
  font-size: 40pt;
}

main button {
  margin-left: auto;
  margin-bottom: 7%;
  width: 25%;
  margin-top: 30px;
  font-size: 18pt;
}

main img {
  width: 265px;
  height: 184px;
  border-radius: 16pt;
}

.cards {
  display:flex;
  width: 60%;
  gap: 2%;
  text-align: left;
  width: 52%;
  margin-left: 20%;
  font-family: 'Karla', sans-serif;
}

.card1 {
  background-color: #c4c4c41c;
  padding: 1%;
}

.card2 {
  background-color: #c4c4c41c;
  padding: 1%;
}

.card3 {
  background-color: #c4c4c41c;
  padding: 1%;
}

.card3 span {
  margin-left: 20%;
}

h2 {
  color: #F4CE14;
  flex-basis: 50%;
  font-size: 60pt;
  font-weight: normal;
  margin-bottom: 0%;
}

.cards h3 {
  font-size: 18pt;
  font-weight: bold;
}

h4 {
  font-size: 16pt;
  text-decoration: #333333;
}

.cards p {
  font-size: 16pt;
  max-width: 22ch;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
}

span {
  color:#EE9972;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 30%;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 20px;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16pt;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#EDEFEE;
}

.about {
  flex-wrap: nowrap;
  display: flex;
  text-align: left;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 8%;
}

.about p {
  font-size: 18pt;
  font-weight: normal;
  text-align: justify;
}


.about img {
  width: 272px;
  height: 338px;
  flex-basis: 50%;
  border: 2px solid #555;
  border-radius: 16pt;
  object-fit:cover;
}

.chef1 {
  position:relative;
  left: 10%;
  top:100px;
  z-index: 1;
}

.chef2 {
  z-index: 2;
}


footer section {
  display:flex;
  gap: 30px;
  font-family: 'Karla', sans-serif;
  width: 60%;
  margin-left: 20%;
  padding: 2%;
}

footer {
  background-color: #c4c4c41c;
}

footer li {
  list-style-type: none;
}

footer img {
  height:70px;
  margin-top: 50px;
}

footer h3 {
  font-size: 16pt;
  margin-left: 35px;
  color: #495e57;
  font-family: 'Markazi Text', sans-serif;
}


.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #c4c4c41c;
  text-align: center;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.testimonial-header {
  width: 60%;
  padding-top: 2%;
  color: #333333;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.review {
  width: 186px;
  height: 178px;
  background-color: #fff;
  margin: 0.8em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.review p {
  margin-top: 0.5em;
  font-family: "Karla", sans-serif;
}

#profile {
  width: 30%;
  border-radius: 50%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  margin-right: 10%;
}

#rating {
  width: 60%;
  display: block;
  margin-left: 10%;
}

.review h2 {
  font-family: "Markazi Text", serif;
  font-size: 16px;
  color: #000;
  text-align:right;
}

.book-container {
  display: flex;
  width: 100%;
  margin-top: 5%;
  align-items: center;
  background-color:#495e57;
  padding-top: 7%;
  padding-bottom: 5%;
}

.book-container img{
  width: 45%;
  margin-left: 5%;
  border-radius: 16pt;
}

form h3 {
  color:#F4CE14;
  font-size: 32pt;
}


form {
  margin-left: 20%;
  color:#EDEFEE;
  font-size: 20pt;
  border-radius: 16pt;
  text-align: left;
  }

/* Media Queries */


@media (max-width: 700px) {

  header section {
    flex-wrap: wrap;
  }

  header img {
    margin-top: 20%;
    max-width: 100%;
    position:unset;
  }

  header h1 {
    flex-basis: 100%;
  }


  footer section {
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr;
    padding-top: 5%;
    width:fit-content;
    padding-bottom: 30%;
  }

  .main-top {
    padding-top: 0%;
    margin-bottom: 5%;
  }

  main button {
    width: 60%;
    margin-right: 20%;
    margin-top: 0%;
  }

.about {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 10%;

}

.about img {
    margin-top: 10%;
    max-width: 100%;
    position:unset;
    margin-left: 15%;
}

.testimonials {
    margin-top: 20%;
 }

 .book-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding-top: 20%;
  padding-bottom: 20%;
  gap: 5%;
 }

 form {
  margin-left: 30%;
 }

 .book-container img {
  width: 80%;
  margin-left: 10%;
 }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}

nav img {
  height: 50px;
}


@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 74px;
    left: 0;
    width: 40%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#EDEFEE;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
  }

  nav ul.active {
    transform: translateX(0);
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul li a {
    font-size: 30px;
    text-align: center;
  }

  nav .menu-toggle {
    position: relative;
    right: 15%;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 99999;
  }

  nav .menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
  }

  nav .menu-toggle .bar:nth-child(2) {
    transform-origin: center;
  }

  nav .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  nav .menu-toggle.active .bar:nth-child(2) {
    transform: scaleX(0);
  }

  nav .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 920px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    gap:2%;
    margin-left: 25%;
    margin-bottom: 10%;
  }
}
